#title {
  background-image: url("https://images.pexels.com/photos/1410227/pexels-photo-1410227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.title__content {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
