<head> </head>
<body>
  <div class="footer__row">
    <div class="footer__column">
      <a href="../pages/start.html">Start</a>
      <a href="../pages/ernaehrung.html">Ernährung</a>
      <a href="../pages/impressum.html">Impressum</a>
    </div>
    <div class="footer__column">
      <a href="../pages/sport.html">Sport</a>
      <a href="../pages/schlaf.html">Schlaf</a>
      <a href="../pages/impressum.html">Impressum</a>
    </div>
    <div class="footer__column">
      <a href="../pages/vitamine.html">Vitamine</a>
      <a href="../pages/sozBez.html">Soziale Beziehungen</a>
      <a href="../pages/impressum.html">Impressum</a>
    </div>
  </div>
  <div class="footer__copyright">
    <a href="https://twitter.com/"><i class="fab fa-twitter fa-3x"></i></a>
    <a href="https://facebook.com"><i class="fab fa-facebook-f fa-3x"></i></a>
    <a href="https://instagram.com"><i class="fab fa-instagram fa-3x"></i></a>
    <a href="mailto:leandrasMail@mail.com"
      ><i class="fas fa-envelope fa-3x"></i
    ></a>

    <p>© Copyright 2021 Leandra Ewen</p>
  </div>
  <button onclick="topFunction()" id="toTopBtn" title="Go to top"></button>
</body>
