<head>
  <!-- JQuery -->
  <!-- Fügt das Logo ein -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(function () {
      $("#logo").load("../images/Logo.svg");
    });
  </script>
</head>
<body>
  <div class="logo">
    <a href="../pages/start.html">
      <div id="logo"></div>
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="../pages/start.html">Start</a></li>
    <li><a href="../pages/ernaehrung.html">Ernährung</a></li>
    <li><a href="../pages/sport.html">Sport</a></li>
    <li><a href="../pages/schlaf.html">Schlaf</a></li>
    <li><a href="../pages/vitamine.html">Vitamine</a></li>
    <li><a href="../pages/sozBez.html">Soziale Beziehungen</a></li>
    <li><a href="../pages/impressum.html">Impressum</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</body>
